@media (min-width: 1024px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      max-width 740px !important
    }
  }
}

/*>=1024的设备*/
@media (min-width: 1100px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      max-width 740px !important
    }
  }
}

/*>=1100的设备*/
@media (min-width: 1280px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      max-width 880px !important
    }
  }
}

/*>=1280的设备*/
@media (min-width: 1366px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      max-width 966px !important
    }
  }
}

@media (min-width: 1440px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      max-width 1000px !important
    }
  }
}

@media (min-width: 1680px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      // max-width 1380px!important
      max-width 1000px !important
    }
  }
}

@media (min-width: 1920px) {
  .page {
    .theme-default-content, .page-edit, .page-nav {
      // max-width 1420px!important
      max-width 1000px !important
    }
  }
}

body {
  //font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  //fomt-family: Hiragino Sans GB, MicroSoft YaHei;
  font-family: -apple-system, "Hiragino Sans GB", "MicroSoft YaHei", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  //color: rgba(0, 0, 0, .65);
  color: #333
  font-size 16px
  line-height: 1.75;
  font-weight: 400;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}

.feature p, .page p {
  word-break: break-all;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 1.6px;
}

ol, p, ul {
  line-height: 1.75;
}

// 侧边栏 root 间隔变小，字体变小
.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0.0rem !important
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1em !important;
  line-height: 1.5 !important;
  font-weight: normal !important;
}
