@media (min-width: 1024px){
  .page{
    .content,.page-edit,.page-nav{
      max-width 740px!important
    }
  }
} /*>=1024的设备*/

@media (min-width: 1100px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 740px!important
    }
  }
} /*>=1100的设备*/
@media (min-width: 1280px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 880px!important
    }
  }
} /*>=1280的设备*/

@media (min-width: 1366px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 966px!important
    }
  }
}

@media (min-width: 1440px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 1000px!important
    }
  }
}

@media (min-width: 1680px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 1380px!important
    }
  }
}
@media (min-width: 1920px) {
  .page{
    .content,.page-edit,.page-nav{
      max-width 1420px!important
    }
  }
}
